@page "/"

<h1>Welcome to Blazor School demonstration</h1>

We have demonstrated all essentials feature of Blazor Server in this example. <br />
If you are look more into Blazor Server, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.
